<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Headline Analysis</title>
</head>
<body>
<h1>Reddit Headline Analysis</h1>
<form action="/analyze" method="post">
    <div class="form-group">
        <label>Subreddit Name:</label>
        <label>
            <select class="form-control" name="subreddit_name" required>
                <option value="Toyota">Toyota</option>
                <option value="Nissan">Nissan</option>
                <option value="Mazda">Mazda</option>
            </select>
        </label>
    </div>
<!--    <input type="text" id="subreddit_name" name="subreddit_name"><br><br>-->
    <label for="keyword">Keyword:</label>
    <input type="text" id="keyword" name="keyword"><br><br>
    <input type="submit" value="Analyze">
</form>

{% if plot_data_uri %}
<img src="data:image/png;base64,{{ plot_data_uri }}" alt="Plot">
{% endif %}
{% if table_html %}
{{ table_html | safe }}
{% endif %}
</body>
</html>
