{% extends "brand.html" %}
{% block content %}

<div class="box">
    <h1>Reddit Headline Analysis</h1>
    <form action="/analyze" method="post">
        <div class="form-group">
            <label>Subreddit Name:</label>
            <select name="subreddit_name" required>
                <option value="Toyota">Toyota</option>
                <option value="Nissan">Nissan</option>
                <option value="Mazda">Mazda</option>
            </select>
        </div>
        <div class="form-group">
            <label for="keyword">Keyword:</label>
            <input type="text" id="keyword" name="keyword">
        </div>
        <input type="submit" value="Analyze">
    </form>
</div>
{% endblock %}