<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Brand Sentiment</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.png" />

  <style>
    body{
      background-image: url("../static/img/land.png");
      background-size: 100%;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
<script>
    // Redirect function
    function redirectToMenu() {
      window.location.href = "menu";
    }

    // Add click event listener to the entire document
    document.addEventListener("click", function() {
      // Call the redirect function when the document is clicked
      redirectToMenu();
    });
  </script>
</body>
</html>